{% extends 'base.html.twig' %}
{% block body %}
<h2> Latest Articles </h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <th scope="row">{{article.id}}</th>
      <td>{{article.title}}</td>
      <td>{{article.dueDate | date('F j, Y, g:i a')}}</td>
    <td><a href="/article/details/{{article.id}}" class="btn btn-success" >View </a> </td>
    </tr>
    {% endfor %}
    {% if articles|length == 0 %}
    Sorry there are no articles with this category name.
    {% endif %}
  </tbody>
</table
{% endblock %}
